.fundoCadastro {
    background-image: url("https://ik.imagekit.io/grupo03/Vammo/dirigindo.avif?updatedAt=1741186876235");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }